<html>
  <head>
    <title> Montre moi les potins </title>
  </head>
  <body>
    <h1> Voici le potin n° <%=params['id']%> </h1>
    <p>
    Voici son auteur : <%= gossips.author %> <br>
    Voici son contenu : <%= gossips.content %>
    </p>
    <a href="/gossips/<%=params['id']%>/edit"> Modifier un potin </a> <br><br>
    <a href="/"> Revenir à la page d'accueil </a>
  </body>
</html>